<a href="https://colab.research.google.com/github/junyeonlee/DelayD/blob/master/Master_Trello_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#develop note 
#v1 08/29 added careate cards
#v1.1 9/1 added search & duplicate check
#v1.2 9/7 added (duplicates check) on job title

# import key, install

In [ ]:
import requests
import json
import pandas as pd
from datetime import datetime

In [ ]:
# yourkey = '284e85e5cf9952f87c6aa31d3b5cad71'
# yourtoken = 'ef54f08dd4557fe58351f947bfc0d147ea7b5d4a3a0a5165aad122bdea770b16'
# oauth = ""
# token_secret = '1af469eba69dfc4f6b6aa2fe1ad8c6e6dc34ed5f032ef80f35619855468605a8'

In [ ]:
yourkey = 'c2f68003f4b0b939e54344493e958641'
yourtoken = '354851816aa6efc7307738f8db1de1b89ad09adbdcfd3f3732e98b12c567ff32'
oauth = ""
token_secret = 'e0697a49dbd8caba5b00586a5ae25729da6eaeef0f6d2142dc73fba389e3e1e9'

In [ ]:
pip install py-trello==0.18.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting py-trello==0.18.0
  Downloading py-trello-0.18.0.tar.gz (30 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from py-trello==0.18.0) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from py-trello==0.18.0) (1.3.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from py-trello==0.18.0) (2.8.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from py-trello==0.18.0) (2022.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.4.1->py-trello==0.18.0) (3.2.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->py-trello==0.18.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->py-trello==0.18.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->py-trello==0.18.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->py-trello==0.18.0) (2022.9.24)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->py-trello==0.18.0) (1.15.0)
Building wheels for collected packages: py-trello
  Building wheel for py-trello (setup.py) ... done
  Created wheel for py-trello: filename=py_trello-0.18.0-py3-none-any.whl size=39837 sha256=a46ea4f6715e35458fe6211dd868eda9f4e9a7f96149b298d5af3a949aac241c
  Stored in directory: /root/.cache/pip/wheels/58/09/29/92ddf6982483c17ee3f1f074bc179f6ce711c5f18389a89d8a
Successfully built py-trello
Installing collected packages: py-trello
Successfully installed py-trello-0.18.0

In [ ]:
from trello import TrelloClient

client = TrelloClient(
    api_key = yourkey,
    api_secret='your-secret',
    token = yourtoken,
    token_secret = token_secret
)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

from google.colab import drive
drive.mount('/content/drive')

gc = gspread.authorize(creds)

Mounted at /content/drive

#Put Listid,

In [ ]:
#Choose Board
all_boards = client.list_boards()
last_board = all_boards[-2]
print(last_board.name)

COB Hiring Process Flow

In [ ]:
# last_board.all_lists()
#archieved and posted cards
len(last_board.all_cards())
#posted card
len(last_board.get_cards())

108

In [ ]:
dic_list= {'6130fcfbf6281e68ab54480c': '1. Positions Backlog',
          '6131009ee67626574c0b87c6': '2. Job Description in review with Kate',
          '613100e26956e658d30b9ea7': '3. Create Job Posting and route to HM.',
          '6130fcfbf6281e68ab54480d': '4. Job is posted-Collecting Applications',
          '6241ca8ddffc170ff17e9881': '5. Position Closed: Waiting on Interview Questions',
          '6130fcfbf6281e68ab54480e': '6. Job is closed; In-review with HM',
          '6130fcfbf6281e68ab54480f': "7. HM has selected a candidate, but we're still waiting on Hiring Materials",
          '6130fcfbf6281e68ab544810': '8. In-review with Kate', 
          '6130ff6a339cf031507efd4e': '9. In-review with Emily',
          '6130ff806ebee63b2100cff5': '10. Send Approval to Hire Email to HM',
          '6130fcfbf6281e68ab544811': '11. After HM has responded with DOH, schedule orientation and send welcome email',
          '6132329a36b7286d017120dc': '12. Employee Completed Orientation', 
          '613a8ad11ae41c889a8ef87a': '13. Employee Completed - Internal Applicant',
          '614b72561e005a3d9d86980f': '14. Employee Completed - Temp/Seasonal',
          '6138f778af2bb6171e6b71d3': '15. Applicant Declined the Position',
          '6143e77429e1bd5cf1a17859': '16. Position will be reposted-was Reposted',
          '6241d1e94a31511d061d9df5': '17. No one hired - Position closed'}

In [ ]:
my_list1 = last_board.get_list('6130fcfbf6281e68ab54480c')
my_list2 = last_board.get_list('6131009ee67626574c0b87c6')
my_list3 = last_board.get_list('613100e26956e658d30b9ea7')
my_list4 = last_board.get_list('6130fcfbf6281e68ab54480d')
my_list5 = last_board.get_list('6241ca8ddffc170ff17e9881')
my_list6 = last_board.get_list('6130fcfbf6281e68ab54480e')
my_list7 = last_board.get_list('6130fcfbf6281e68ab54480f')
my_list8 = last_board.get_list('6130fcfbf6281e68ab544810')
my_list9 = last_board.get_list('6130ff6a339cf031507efd4e')

my_list12 = last_board.get_list('6132329a36b7286d017120dc')
my_list13 = last_board.get_list('613a8ad11ae41c889a8ef87a')
my_list14 = last_board.get_list('614b72561e005a3d9d86980f')


my_list15 = last_board.get_list('6138f778af2bb6171e6b71d3')
my_list16 = last_board.get_list('6143e77429e1bd5cf1a17859')
my_list17 = last_board.get_list('6241d1e94a31511d061d9df5')

#my_list = [my_list1, my_list2,my_list3, my_list4,my_list5,my_list6,my_list7,my_list8,my_list9 ]
#len(my_list1)
# for card in list_id:
#   print(len(card)

In [ ]:
my_list9.cardsCnt()

1

# Edit number
- number_vacant_position
- req_post_HR
- acpt_apps
- review_MH
- review_HR

In [ ]:
from datetime import date

today = date.today()
date = today.strftime("%Y-%m-%d")
date

'2022-10-21'

In [ ]:
number_vacant_position = len(last_board.get_cards()) - my_list12.cardsCnt() - my_list13.cardsCnt()- my_list14.cardsCnt()- my_list15.cardsCnt() - my_list16.cardsCnt() - my_list17.cardsCnt() -11
req_post_HR = my_list1.cardsCnt() + my_list2.cardsCnt() + my_list3.cardsCnt() -3
acpt_apps = my_list4.cardsCnt() -1
review_HM = my_list6.cardsCnt() -1
review_HR = my_list8.cardsCnt() + my_list9.cardsCnt() -2

In [ ]:
cell_values = [date, number_vacant_position,req_post_HR,acpt_apps,review_HM,review_HR]

#Updata Current stat

In [ ]:
import pandas as pd

In [ ]:
#mount GD, GS
#open gs - csv - df

worksheet = gc.open('current_stat').sheet1

In [ ]:
df = pd.DataFrame(worksheet.get_all_records())

In [ ]:
df

,Date,Number of Vanant,Request to post In review with HR,Accepting applicants,Reviewing applicants with HM,Reviewing request to hire with HR
0,2022-08-29,37,1,8,15,2
1,2022-08-30,37,1,7,13,2
2,2022-08-31,37,1,6,14,1
3,2022-09-01,44,8,6,11,4
4,2022-09-02,44,8,6,10,4
5,2022-09-06,44,8,4,10,5
6,2022-09-08,44,5,8,9,6
7,2022-09-09,44,6,7,9,2
8,2022-09-12,40,4,9,9,2
9,2022-09-13,40,4,9,8,1
10,2022-09-14,40,6,9,7,2
11,2022-09-15,39,7,9,6,2
12,2022-09-16,40,6,9,6,4
13,2022-09-19,43,8,8,7,3
14,2022-09-20,43,8,8,7,3
15,2022-09-21,43,6,10,7,2
16,2022-09-22,43,6,10,4,3
17,2022-09-23,43,6,9,5,3
18,2022-09-27,40,7,9,5,0
19,2022-09-28,42,9,7,6,0
20,2022-10-03,43,11,6,6,1
21,2022-10-04,44,5,12,6,1
22,2022-10-05,45,6,11,8,1
23,2022-10-13,37,3,14,7,1
24,2022-10-16,39,7,12,8,1
25,2022-10-17,39,7,12,8,1
26,2022-10-18,39,7,9,10,1
27,2022-10-19,40,5,11,13,0

In [ ]:
df.loc[df.Date == date]

Empty DataFrame
Columns: [Date, Number of Vanant, Request to post In review with HR, Accepting applicants, Reviewing applicants with HM, Reviewing request to hire with HR]
Index: []

In [ ]:
last_df_row = len(df)-1

In [ ]:
if df['Date'][last_df_row] == date :
  start_cell_len = len(df)+1
else:
  start_cell_len = len(df)+2

In [ ]:
#start_cell_len = len(df)+2
start_cell = f"A{start_cell_len}"
end_cell = f"F{start_cell_len}"
cell_range = f"{start_cell}:{end_cell}"
cell_list = worksheet.range(cell_range)
len(cell_list)

6

In [ ]:
for c, cell in enumerate(cell_list):
  cell.value = cell_values[c]

In [ ]:
worksheet.update_cells(cell_list)

{'spreadsheetId': '15LAy1hAJEBd0FofT3WaqsIiI_CEz-P9hlOnuTNFLr2s',
 'updatedRange': 'Sheet1!A30:F30',
 'updatedRows': 1,
 'updatedColumns': 6,
 'updatedCells': 6}

# Create New cards

##import data

In [ ]:
worksheet = gc.open('2022 Revised Requisition to Post a Vacancy (Responses)').sheet1
df = pd.DataFrame(worksheet.get_all_records())
board_id = '6130fcfbf6281e68ab54480b'

In [ ]:
def req_date(n) :
  day = df.iloc[n,0]
  day = pd.to_datetime(day)
  day = datetime.strftime(day, '%m-%d-%Y')
  return day

def dep_name(n):
  department = df.iloc[n,3]
  return department

# def job_title(n):
#   title = df.iloc[n,4]
#   title.replace("Temporary Part Time","TPT")
#   return title

def job_title(n):
  title = df.iloc[n,4]
  count_title = df.iloc[:,4].value_counts()[title]
  if count_title > 1 :
    title = f"{title}({count_title})"
    #print(title)    
  title.replace("Temporary Part Time","TPT")
  return title


def list_cards(my_list) :
  cards = my_list  
  num_cards = cards.cardsCnt() 
  cards = cards.list_cards()
  card_list = []
  for i in range(1,num_cards) :
    card = str(cards[i]).replace(">","")
    card = card[6:]
    card_list.append(card)
  return card_list

In [ ]:
# This code sample uses the 'requests' library:
# http://docs.python-requests.org

def search_card_name(card_name):

  url = "https://api.trello.com/1/search"

  headers = {
    "Accept": "application/json"
  }
  #search  
  query = {
   'query': f'{card_name} is:open',
   'key': yourkey,
   'token': yourtoken,
   'idBoards' : f'{board_id}',
   'card_fields' : ['name','closed','idList','labels']
  }
  response = requests.request(
    "GET",
    url,
    headers=headers,
    params=query
  )

  listid1_3 = list(dic_list)[:3]
  #test_list
  #listid1_3 = '62b9c3d42ee464712fc903b8'
  search_result = []
  for i in json.loads(response.text)['cards'] :
    if i['idList'] in listid1_3 : 
      search_result.append(i['name'])
  #print('search result',search_result)    
  return search_result

##add card to list

In [ ]:
###############use test list 
#test1 board 
# test_list1 = last_board.get_list('62b9c3d42ee464712fc903b9') 

# ####COB Hiring Process
test_list1 = last_board.get_list('6130fcfbf6281e68ab54480c')

In [ ]:
card_names = []
for i in range(len(df)):
  card_name = f"{job_title(i)} - {dep_name(i)} | {req_date(i)}"
  if card_name in card_names :
    continue
  card_names.append(card_name)

  if card_name not in search_card_name(card_name):
    test_list1.add_card(card_name)
    print(card_name)

#card_names

Laborer  - Parks | 10-14-2022
Assistant GIS Coordinator - Utilities-Engineering | 10-19-2022

In [ ]:
# test_list1.add_card(card_names[7])